@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    overflow-y: hidden;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 50%);
    
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }
::-webkit-scrollbar-thumb{
     background-color: rgba(75, 75, 75, 0.603);
     border-radius: 10px;
}
